* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100vh;
  /* justify-content: stretch; */
  align-items: center;
  display: flex;
  transition: all 0.3s ease;
}
.theme {
  background-color: black;
}
main {
  height: 100%;
  max-height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
  /* background-color: red; */
}
button {
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
}
/* button:active{
    transform: scale(1.5);
} */

/* Left controls */
.left {
  flex: 3;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: 100px;
  padding: 10px 0;
}

.left-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
  margin-bottom: 40px;
}

.left-controls .speed-up,
.left-controls .speed-down {
  background-color: #c64902;
  width: 50px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
}

.dir {
  display: flex;
  gap: 100px;
}

.dir button {
  height: 80px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #212121;
  border: none;
}

.speed-meter {
  display: flex;
  /* height: 5vh; */
  align-self: end;
  margin-right: 20px;
  justify-content: center;
  gap: 20px;
}
.speed {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #cdcdcd;
}

.speed-1 {
  background-color: #c64902;
}

/* Right controls */

.right {
  /* background-color: blue; */
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.right-controls {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 64px;
  margin-left: 100px;
}

.right .btn {
  height: 100px;
  overflow: hidden;
  width: 100px;
  padding: 10px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drive {
  background-color: #00670a;
}
.reverse {
  background-color: #ff5252;
}
.lights {
  background-color: #212121;
}
.right-controls img {
  /* width: 100%;
  height: 100%; */
  object-fit: contain;
}
.lower {
  display: flex;
  gap: 80px;
}
.logo {
  /* background-color: white; */
  display: flex;
  justify-content: end;
}

.logo img {
  height: 100%;
}

/* Road Animation */

.road {
  flex: 1.5;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 40px;
  background-color: rgb(227, 227, 227);
}

.road-color {
  background-color: rgb(21, 21, 21);
}

.road img {
  z-index: 10;
   pointer-events: none; /* Disable all interactions with the image */
}
.road-line {
  background-image: url("assets/road_line.png");
  background-position: center;
  background-repeat: repeat-y;
  position: absolute;
  right: 25%;
  left: 25%;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.road-animation-1 {
  animation: highway 5s linear infinite; /* Slow speed */
}

.road-animation-2 {
  animation: highway 2s linear infinite; /* Medium speed */
}

.road-animation-3 {
  animation: highway 0.5s linear infinite; /* Fast speed */
}
.road-animation-reverse-1 {
  animation: highway 5s linear infinite; /* Slow speed */
}

.road-animation-reverse-2 {
  animation: highway 2s linear infinite; /* Medium speed */
}

.road-animation-reverse-3 {
  animation: highway 0.5s linear infinite; /* Fast speed */
}

@keyframes highway {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -100%;
  }
}
@keyframes reverse-highway {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 100%;
  }
}
/* QUERY */
@media screen and (max-width: 1050px) {
  .logo {
    height: 30px;
  }
  .left {
    margin-right: 10px;
  }
  .speed {
    height: 20px;
    width: 20px;
  }
  .left-controls .speed-up,
  .left-controls .speed-down {
    width: 40px;
    height: 50px;
  }

  .right .btn {
    height: 80px;
    overflow: hidden;
    width: 80px;
    padding: 10px;
    border-radius: 50%;
    border: none;
  }
  .right .btn img {
    width: 80%;
  }
  .right-controls {
    margin-left: 10px;
  }

  .dir button {
    height: 60px;
    width: 50px;
  }
}

.hidden {
  display: none;
}

.cover {
  height: 100%;
  width: 100%;
  background-color: #21212100;
  position: absolute;
}

/* Landscape Checker */
.landscape-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100vh;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  z-index: 1000;
  width: 100%;
  max-width: 500px;
  /* border-radius: 10px; */
}

@media screen and (orientation: portrait) {
  #landscape-message {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #content {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  #landscape-message {
    display: none;
  }
  #content {
    display: flex;
  }
}
